header {
    display: flex;
    align-self: stretch;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 1200;
  }